<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="1.1.10" targetFramework="net45" allowedVersions="[1.1.10, 2)" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" allowedVersions="[3.0.1.10, 4)" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" allowedVersions="[2.6.2, 3)" />
  <package id="OAuth2Client" version="1.6.0.2560" targetFramework="net45" allowedVersions="[1.6.0, 2 )" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" allowedVersions="[3.6.1,4 )" />
  <package id="TreeViewAdv" version="1.7.0.0" targetFramework="net45" allowedVersions="[1.7, 2)" />
  <package id="VersionOne.SDK.APIClient" version="14.1.1.249" targetFramework="net45" allowedVersions="[14.1.1, 15)" />
  <package id="VersionOne.SDK.ObjectModel" version="14.1.1.913" targetFramework="net45" allowedVersions="[14.1.1, 15)" />
</packages>